<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>hello</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <default-content-type>"text/html; charset=UTF-8"</default-content-type>
        </jsp-property-group>
    </jsp-config>

<!--    <filter>-->
<!--        <filter-name>CharacterSetFilter</filter-name>-->
<!--        <filter-class>com.getjavajob.training.yarginy.socialnetwork.web.filters.CharacterSetFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CharacterSetFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->


    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.getjavajob.training.yarginy.socialnetwork.web.servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/serv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hello</servlet-name>
        <jsp-file>/WEB-INF/jsps/hello.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/WEB-INF/jsps/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>


</web-app>
