<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Loggers>
        <Logger name="com.getjavajob.training.yarginy.socialnetwork.web.interceptors" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="InterceptorLogger" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>