@font-face {
    font-family: 'Quattrocento-Sans-Bold';
    src:url('../font/Quattrocento-Sans-Bold.ttf.woff') format('woff'),
    url('../font/Quattrocento-Sans-Bold.ttf.svg#Quattrocento-Sans-Bold') format('svg'),
    url('../font/Quattrocento-Sans-Bold.ttf.eot'),
    url('../font/Quattrocento-Sans-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #2c5e99;
    font-weight: bolder;
}

a:hover {
    color: #b75208;
}

html, body, ul, li {
    margin: 0;
}

#logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 1%;
    width: 45px;
}

.wrapper {
    margin: auto;
    max-width: 1024px;
    color: #2c5e99;
}

.header {
    min-height: 100px;
    background: #94d2d4;
    text-align: left;
    vertical-align: middle;
}

.header h1 {
    overflow: hidden;
    font-family: 'Quattrocento-Sans-Bold', serif;
    font-weight: normal;
    position: relative;
    display: inline;
    top: 35px;
    left: 20px;
}

.header p {
    float: right;
    overflow: hidden;
    display: inline;
}

.menu {
    float: left;
    font-family: "Tahoma", serif;
    font-size: 13px;
}

.menu ul {
    padding: 0;
    list-style-type: none;
}

.menu li {
    margin: 10px 10px 10px 10px;
}

.content {
    font-size: 13px;
    font-family: "Tahoma", serif;
    /*padding: 10px 10px 30px 30px;*/
    padding: 1%;
    min-height: 300px;
    overflow: hidden;
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    margin-right: 0;
}

.info {
    display: inline-block;
    text-align: left;
}

.info img {
    float: right;
    max-height: 200px;
    max-width: 200px;
    margin-left: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.footer {
    height: 20px;
    background: #94d2d4;
    font-family: 'Quattrocento-Sans-Bold', serif;
}

.footer p {
    padding-top: 4px;
    margin-left: 1%;
    font-size: 11px;
    text-align: center;
}

/*posts in content-container*/
.post {
    padding: 10px 20px 10px 10px;
    text-align: center;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
}

.post input, select {
    margin-top: 10px;
    display: inline-block;
    alignment: center;
}

.post img {
    max-height: 200px;
    max-width: 150px;
    overflow: hidden;
    margin-left: 20px;
}

.post p, label {
    font-family: 'Tahoma', serif;
    font-weight: normal;
    font-size: 13px;
    color: black;
}

#error {
    font-family: "Tahoma", serif;
    font-size: 15px;
    color: #b75208;
    font-weight: bolder;
}

button {
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    background-color: #94d2d4;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #b75208;
}